h2,
p,
h3 {
    background-color: rgba(161, 161, 161, 0.639);
}

body {
    background-color: black;
}

* {
    color: rgb(0, 0, 0);
}

main {
    margin-bottom: 50px;
}

header {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(161, 161, 161, 0.639);
}

.CV {
    border: solid 3px rgb(2, 29, 181);
    width: fit-content;
    margin: auto;
}

h1 {
    margin-left: 0;
    margin-top: auto;
    margin-bottom: auto;
}

h2,
h3 {
    text-align: center;
    margin: auto;
    width: fit-content;
}